* {
  box-sizing: border-box;
}

.logo {
  max-height: 5em;
  margin: auto;
  padding-right: 4vw;
  display: block;
  margin-top: 1rem;
  opacity: 0.8;
}

input,
button,
textarea,
select {
  font: inherit;
}

.event:not(:first-of-type) {
  margin-top: 1.5rem;
}
.eventAnnotation {
  white-space: pre-wrap;
  font-family: monospace;
  padding-right: 2rem;
}

.eventAnnotation code {
  white-space: pre-wrap;
  font-family: monospace;
}

.eventAnnotation svg {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  transform: scale(-1, 1);
  order: -1;
}

.eventPayload {
  border: 2px #d0d3d4 dotted;
  background: white;
  margin: 0;
  white-space: pre-wrap;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 0.6rem;
  font-family: Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

html,
body {
  margin: 0;
  color: #25303e;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

.inspector {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: red;
  height: 10vw;

  transition: 0.1s all ease-in;
  color: white;
  background: linear-gradient(45deg, #262558, #51368d);
  box-shadow: 3px 3px white;
}

.inspector:hover {
  background: linear-gradient(45deg, #51368d, #9b77c2);
  cursor: pointer;
}

.inspector svg {
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  margin-left: 1.2rem;
  /* margin-left: 50%; */
  /* margin-top: 50%; */
  /* rotate: -45deg; */
}
main {
  padding: 0 1.5rem;
}

.quizHeader {
  margin-top: 2rem;
  text-align: center;
}

.main-panel {
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-family: Poppins, sans-serif;
  font-size: 1.5em;
  line-height: 1.25;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

.hideEvents .eventWatcher {
  display: none;
}
.showEvents .main-panel {
  display: none;
}
.eventWatcher {
  overflow-y: auto;
}

button,
.secondaryAction {
  border: 2px solid #0278cd;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  background: white;
  cursor: pointer;
  padding: 13px 16px;
  border-radius: 4px;
  transition: all 0.1s ease-in;
  color: #0278cd;
}

button {
  border: 3px solid #f0f0f0;
  transition: all 0.1s ease-in;
  text-align: left;
  padding: 0.5rem;
  font-family: Roboto;
  color: black;
}

button:hover {
  color: #0278cd;
  border-color: #0278cd;
}

.action:hover {
  background: #0298ec;
  border: 2px solid #0298ec;
  border-radius: 4px;
}

.answerSelect,
.correctAnswer,
.wrongAnswer {
  border: 3px solid #f0f0f0;
  transition: all 0.1s ease-in;
  display: block;
  font-size: 14px;
  text-align: left;
  padding: 1rem;
  font-family: Roboto;
}

.answerSelect.correct.selected {
  border-color: #64ba00;
}

.answerSelect.selected:not(.correct) {
  color: black;
  border-color: black;
}

.answerSelect.correct.selected:disabled {
  border-color: #64ba00;
  color: #64ba00;
}

.explanation a {
  color: #0278cd;
  text-decoration: underline;
}

.answerSelect:disabled {
  cursor: default;
  border-color: #f0f0f0;
  color: black;
}

.answerSelect:not([disabled]):hover {
  cursor: pointer;
  border-color: #f96e10;
  color: black;
}

.answerSelect:not([disabled]):hover:nth-of-type(2) {
  border-color: #0298ec;
}

.answerSelect:not([disabled]):hover:nth-of-type(3) {
  border-color: #64ba00;
}

.answerSelect:not([disabled]):hover:nth-of-type(4) {
  border-color: #ffb000;
}

.choices,
.choices-answered {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: 1fr;
}

.signUpBanner {
  position: sticky;
  top: 0;
  background: #0066ba;
  text-align: center;
  padding: 5px 8px;
  color: white;
  z-index: 300;
}

.signUpBanner a {
  display: block;
}

.actionButton {
  border: 2px solid #0278cd;
  text-align: center;
  background: #0278cd;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 13px 16px;
  border-radius: 4px;
  color: white;
}

.actionButton:hover {
  background: #0298ec;
  color: white;
  border-color: #0298ec;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.surveySelection {
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
}

.surveySelection label {
  font-size: 1.2rem;
}

.surveySelection label:hover {
  cursor: pointer;
}

.surveySelection input {
  height: 1.2rem;
  width: 1.2rem;
  flex-shrink: 0;
  margin-right: 0.8rem;
}

.feedbackSection {
  margin-top: 48px;
  margin-bottom: 16px;
  font-size: 1.2rem;
}

.feedbackSection textarea {
  resize: vertical;
  min-height: 150px;
}
.feedbackSection label {
  display: block;
  margin-top: 16px;
}

.feedbackSection input,
textarea {
  padding: 8px;
  margin-top: 8px;
  width: 100%;
}

.additionalFeedback {
  display: block;
  margin-top: 16px;
}

button[type="submit"] {
  margin-top: 8px;
}

@media screen and (min-width: 880px) {
  body {
    background: linear-gradient(
        15deg,
        #262558,
        #51368d 10%,
        transparent 10% 100%
      ),
      linear-gradient(15deg, transparent 0 95%, #262558 95%, #51368d 100%),
      linear-gradient(90deg, white 0 60%, #fafafa 55% 100%);
    height: 100vh;
    background-attachment: fixed;
  }

  .eventWatcher header {
    white-space: pre-wrap;
    font-family: monospace;
    display: flex;
    align-items: flex-end;
    margin-left: -4rem;
    padding-left: 1.75rem;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
  }

  .logoheader {
    max-height: 300px;
    height: 300px;
  }

  .eventWatcher header svg {
    height: 5em;
    width: 2em;
    margin-bottom: -3em;
    margin-left: -0.5em;
    flex-shrink: 0;
    opacity: 0.3;
    transition: all 0.3s ease-in;

    transform: rotate(-17deg) scale(-1, 1);
  }

  .eventWatcher .eventPayload {
    transition: all 0.3s ease-in;
    overflow-x: auto;
  }

  .eventWatcher:hover .eventPayload {
    border-color: #7d8588;
  }

  .eventWatcher:hover header svg {
    opacity: 0.7;
  }

  .quizHeader {
    text-align: left;
  }

  .subhead {
    font-size: 0.8rem;
    text-align: right;
    font-weight: 300;
  }

  .choices,
  .choices-answered {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .explanation {
    margin-bottom: 2.5rem;
  }

  .inspector {
    display: none;
  }

  .hideEvents .eventWatcher {
    display: block;
  }
  .showEvents .main-panel {
    display: block;
  }

  .signUpBanner {
    padding: 16px;
    position: absolute;
    right: 0;
    left: 0;
  }

  main {
    display: grid;
    grid-gap: 3vw;
    grid-template-columns: 3fr 2fr;
  }

  .eventPayload {
    font-size: 1rem;
  }

  .main-panel {
    padding-top: 48px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    min-height: 98vh;
    padding-right: 1rem;
    padding-left: 1rem;
    min-width: 300px;
  }

  main {
    padding: 0;
  }

  .logoHeader {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin: 0;
  }

  .eventWatcher div {
    position: sticky;
    top: 255px;
    max-width: 650px;
    padding-left: 3rem;
    margin: auto;
    padding-right: 3rem;
  }

  .event:nth-of-type(1) {
    animation: fadein 2s;
    display: block;
  }

  .event:nth-of-type(2) {
    animation: fadeout 2s;
    display: block;
  }

  .event:hover {
    opacity: 1;
  }

  .event:not(:nth-of-type(1)) {
    display: none;
  }
}
