* {
  box-sizing: border-box;
}

.event {
  border: 3px #d0d3d4 solid;
  animation: fadein 0.5s;
}
.event:not(:first-of-type) {
  margin-top: 1.5rem;
}

html,
body {
  margin: 0;
  color: #25303e;
  background: #f0f0f0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 18px;
}

main.single-column {
  max-width: 600px;
  margin: auto;
}

.main-panel {
  background: white;
  padding: 1rem;
}

main.two-column {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 1fr;
  height: 80vh;
  min-height: 80vh;
  grid-gap: 1rem;
  overflow: auto;
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-family: Poppins, sans-serif;
}

.eventPayload {
  margin: 0;
  white-space: pre-wrap;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 0.6rem;
  font-family: Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.eventWatcher {
  overflow-y: auto;
}

button,
.secondaryAction {
  border: 2px solid #0278cd;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: white;
  cursor: pointer;
  padding: 13px 16px;
  border-radius: 4px;
  transition: all 0.1s ease-in;
  color: #0278cd;
}

button {
  border: 3px solid #f0f0f0;
  transition: all 0.1s ease-in;
  text-align: left;
  padding: 0.5rem;
  font-family: Roboto;
  color: black;
}

button:hover {
  color: #0278cd;
  border-color: #0278cd;
}

.action:hover {
  background: #0298ec;
  border: 2px solid #0298ec;
  border-radius: 4px;
}

.answerSelect,
.correctAnswer,
.wrongAnswer {
  border: 3px solid #f0f0f0;
  transition: all 0.1s ease-in;
  display: block;
  font-size: 14px;
  text-align: left;
  padding: 0.5rem;
  font-family: Roboto;
  transition: 0.2s all;
}

.answerSelect.correct.selected {
  border-color: #64ba00;
}

.answerSelect.selected:not(.correct) {
  color: #f96e10;
  border-color: #f96e10;
}

.answerSelect.selected:not(.correct)::before {
  content: "x";
  float: right;
}

.answerSelect.correct.selected:disabled {
  border-color: #64ba00;
  color: #64ba00;
}

.answerSelect.correct.selected::before {
  content: "\2713";
  float: right;
}

.explanation a {
  color: #0278cd;
  text-decoration: underline;
}

.answerSelect:disabled {
  cursor: default;
  border-color: #f0f0f0;
  color: black;
}

.answerSelect:not([disabled]):hover {
  cursor: pointer;
  border-color: #f96e10;
  color: black;
}

.answerSelect:not([disabled]):hover:nth-of-type(2) {
  border-color: #0298ec;
}

.answerSelect:not([disabled]):hover:nth-of-type(3) {
  border-color: #64ba00;
}

.answerSelect:not([disabled]):hover:nth-of-type(4) {
  border-color: #ffb000;
}

.choices,
.choices-answered {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: 1fr 1fr;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
